@import "tailwindcss";
 
html.light {
  --bg-color: #e8e8e8;
  --text-color: #111827;
  --color-text-main:#006aff;
  --card-bg: rgba(255, 255, 255, 0.6);
  --card-border: rgba(87, 87, 87, 0.4);
  --card-shadow: rgba(0, 0, 0, 0.1);
}

html.dark {
  --bg-color: #0f172a;
  --text-color: #f9fafb;
  --color-text-main:#60A5FA;
  --card-bg: rgba(39, 39, 42, 0.6);
  --card-border: rgba(63, 63, 70, 0.6);
  --card-shadow: rgba(0, 0, 0, 0.3);
}

body {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
	Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: var(--bg-color);
  	color: var(--text-color);
  	transition: background-color 0.4s ease, color 0.4s ease;
 	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes popup {
  0% { transform: scale(0.9); opacity: 0 }
  100% { transform: scale(1); opacity: 1 }
}

.animate-fadeIn {
  animation: fadeIn .15s ease-out;
}

.animate-popup {
  animation: popup .2s ease-out;
}
