@import "tailwindcss";



html, body {
  font-family: Arial, Helvetica, sans-serif;
 margin: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}
