@import "tailwindcss";
 
html.light {
  --bg-color: #e8e8e8;
  --text-color: #111827;
  --color-text-main:#006aff;
}

html.dark {
  --bg-color: #0f172a;
  --text-color: #f9fafb;
  --color-text-main:#60A5FA;
}

body {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
	Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: var(--bg-color);
  	color: var(--text-color);
  	transition: background-color 0.4s ease, color 0.4s ease;
 	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
